<div class="container" [ngStyle]="{'display':displayContainer}">
    <div class="row justify-content-center">
    <div class="card border shadow p-3 col-md-6 my-3">
        <div class="font-weight-bold text-center"><h1>{{event.Name | titlecase}}</h1></div>
        <form #myForm="ngForm" (ngSubmit)="Onsubmit()" class="form my-4">
            <div *ngFor="let que of question; let i = index;">
                <h1>{{que.question}} {{que.que_id}}</h1>
                <div class="scroll-bar p-3">
                    <div *ngFor="let participant of que.participants; let j = index;" class="pstar font-light">
                        <span class="font font-weight-light fs-3">{{participant.Name}} {{participant.Id}} {{question[i].participants[j].rating}}</span>
                        <input type="number" [(ngModel)]="question[i].participants[j].rating" name="{{que.que_id}}-{{participant.Id}}">
                        <!-- <ngb-rating class="star fs-3 font-weight-bold" [max]="5" [(rate)]="question[i].participants[j].rating" required  ></ngb-rating> -->
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" id="submit_button" >Submit</button>
        </form>
    </div>
</div>
</div>

<div  [ngStyle]="{'display':displayStyle}">
    <div class="row justify-content-center">
        <div class="boder shadow col-md-6 my-4 p-3 row justify-content-center">
            <div class="col-md-10">
            <h1 class="">Thank you for response</h1>
            <h4>Your rating is submitted</h4>
            <div class="row justify-content-center my-3">
            <button class="btn btn-primary col-md-5"><a href="/login" class="HomePageButton">Back To Home Page</a></button>
        </div>
        </div>
    </div>
    </div>
    <!-- <div class="row justify-content-center"> -->
    
</div>

