<div class="container" [ngStyle]="{'display':displayContainer}" >
    <div class="row justify-content-center" *ngIf="!isLoading; else loading;">
        <div class="card border shadow p-3 col-md-10 my-3">
            <div class="font-weight-bold text-center"><h1>{{event.Name | titlecase}}</h1></div>
            <div class="row justify-content-center"><h4 class="text-center text-danger" *ngIf="displayError">Invalid Rating</h4></div>

            <form #myForm="ngForm" (ngSubmit)="Onsubmit()" class="form my-4">
                <div *ngIf="question">
                    <div *ngFor="let que of question; let i = index;">
                        <h1>{{i+1}}  {{que.question}}</h1>
                        <div class="scroll-bar p-3">
                            <div *ngFor="let participant of que.participants; let j = index;" class="pstar font-light">
                                <span class="font font-weight-light fs-4">{{participant.Name}}</span>
                                <!-- <span>({{que.que_id}}-{{participant.Id}})</span> -->
                                <!-- <input class="mx-1 form-control " type="number"  [(ngModel)]="participant.rating[i]" name="{{que.que_id}}-{{participant.Id}}" required placeholder="rate between 1 -5"> -->
                                <ngb-rating class="star fs-3 font-weight-bold" [max]="5" [(ngModel)]="participant.rating[i]" name="{{que.que_id}}-{{participant.Id}}" required  ></ngb-rating>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" id="submit_button" [disabled]="myForm.invalid" >Submit</button>
            </form>
        </div>
    </div>
    <ng-template #loading>
        <div class="row justify-content-center">
            <mat-progress-spinner *ngIf="isLoading" class="loading" mode="indeterminate"></mat-progress-spinner>
        </div>
    </ng-template>
</div>

<div  [ngStyle]="{'display':displayStyle}">
    <div class="row justify-content-center">
        <div class="boder shadow col-md-6 my-4 p-3 row justify-content-center">
            <div class="col-md-10">
            <h1 class="">Thank you for response</h1>
            <h4>Your rating is submitted</h4>
            <div class="row justify-content-center my-3">
            <button class="btn btn-primary col-md-5"><a href="/login" class="HomePageButton">Back To Home Page</a></button>
        </div>
        </div>
    </div>
    </div>
    <!-- <div class="row justify-content-center"> -->
</div>

<!-- <section class="display" [ngStyle]="{'display':displayLoading}" >
    <div class="block2">
      <mat-progress-spinner *ngIf="isLoading" class="loading" mode="indeterminate"></mat-progress-spinner>
    </div>
  </section> -->

