<div class="container" [ngStyle]="{'display':displayContainer}">
    <div class="contain">
        <div class="title"><h1>{{event.Name | titlecase}}</h1></div>
        <form #myForm="ngForm" (ngSubmit)="Onsubmit()" class="form">
            <div class="scroll-bar">
                <div *ngFor="let participant of participants; let i =index;" class="pstar">
                    <span class="font">{{participant.Name}}</span>
                    <ngb-rating class="star" [max]="5" [(ngModel)]="ratingData.value[i]" name="something" ></ngb-rating>
                </div>
                <button class="btn btn-primary" id="submit_button">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="container"  [ngStyle]="{'display':displayStyle}">
    <div class="Response">
        <h1>Thank you for our response</h1>
        <h4>your rating is submitted</h4>
        <button class="btn btn-primary"><a href="/login" class="HomePageButton">Back To Home Page</a></button>
    </div>
    
</div>

