<div class=" row justify-content-center my-4">
    <div class="card border shadow col-md-4">
        <div class="text-center">
            <h3 class="text-danger" *ngIf="Errorheading">*Error Invalid Entry</h3>
        </div>
        <div class="text-center">
            <p class="fs-3 p-1">Registration Form</p>
        </div>
        <div>
            <form #myform="ngForm" (ngSubmit)="onSubmit()" class="p-3">
                <div class="form-group">
                    <label for="exampleInputName1">Full Name</label>
                    <input type="text" name="text" #name="ngModel" class="form-control"
                        [(ngModel)]="formData.name" required aria-describedby="emailHelp" placeholder="Enter Full Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" #name="ngModel" class="form-control" id="exampleInputEmail1"
                        [(ngModel)]="formData.email" required aria-describedby="emailHelp" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" #password="ngModel"
                        id="exampleInputPassword1" required [(ngModel)]="formData.password" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" name="Conformpassword" class="form-control" id="exampleInputConformPassword1"
                    [(ngModel)]="formData.conformPassword" required  placeholder="Enter Confirm Password">
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary col-md-3"  [disabled]="myform.invalid"  id="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>