<div class="row justify-content-center my-4">
    <div class=" card boder shadow col-md-5 p-3">
      <div> <h1 class="row justify-content-center font-weight-bold">{{title | titlecase}}</h1></div>
      <div><h3>Number of Rater :-{{RaterCount}} </h3></div>
        <table class="table view-rating boder my-4">
            <thead class="p-3">
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Participants</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody p-3>
              <tr *ngFor="let user of users">
                <!-- <th scope="row">1</th> -->
                <td>{{user.Name | titlecase}}</td>
                <td>{{user.Rating}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>