
<div class="row justify-content-center wrapper">
    <div class="row justify-content-center">
        <div class="title my-3 col-md-6 text-center"><h2>Welcome, {{name | titlecase}}</h2></div>
    </div>
    <div class="row justify-content-center">
        <div class="card  p-3 col-md-2 shadow " style="border: 3px solid #de55a0;">
            <a href="events" class="text-decoration-none text-reset">
            <div class="justify-content-center">
                <p class="fw-bold fs-4 ">Total Events</p>
            </div>
            <div>
                <p class="fs-5 fw-light">{{users}}</p>
            </div>
        </a>
        </div>
    </div>
</div>